:root {
    --greenish-cyan-theme: #20e386;
}

html {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

p {
    line-height: 1.7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline dashed;
}


/* utility classes */


/* common container */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}


/* text alignment classes */

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}


/* margin classes */

.m-auto {
    margin: auto;
}


/* button classes */

.btn {
    margin: 0.7em 0;
    cursor: pointer;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-theme {
    background: var(--greenish-cyan-theme);
}

.btn:hover {
    color: #fff;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}

.btn-danger {
    display: block;
    background: #f00;
    color: #fff;
}


/* navbar */

.nav {
    padding: 1.5em;
}

.nav h1 {
    font-size: 2rem;
    color: var(--greenish-cyan-theme);
    margin-bottom: 0.7em;
}

.page-heading-link:hover {
    text-decoration: none;
}

.nav a {
    color: #333;
    text-transform: uppercase;
}

.nav-list {
    justify-content: space-between;
}

.nav-list--item+.nav-list--item {
    margin-top: 0.7em;
}

.nav-list--item:last-child a {
    color: var(--greenish-cyan-theme);
}


/* blog preview and details */

.blog-preview,
.blog-details {
    padding: 1.5em;
    max-width: 700px;
}

.blog-preview {
    border-bottom: 1px solid #ccc;
    margin: 0.5em 0;
}

.blog-preview:hover {
    transform: scale(1.01);
    border-radius: 10px;
    box-shadow: -1px -3px 8px #ccc, 1px 3px 8px #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.blog-list-title {
    margin: 1em 0;
}

.blog-heading-link {
    text-decoration: none;
}

.blog-heading-link:hover {
    text-decoration: underline dashed;
}

.blog-heading {
    margin-bottom: 0.7em;
    font-size: 1.5em;
    color: var(--greenish-cyan-theme);
}

.blog-body {
    margin: 1em 0;
}


/* .blog-author {
    float: right;
} */


/* post form styles */

.post-form-heading {
    margin-bottom: 1em;
}


/* responsive design */

@media (min-width: 700px) {
    html {
        font-size: 16px;
    }
    .d-flex {
        display: flex;
    }
    .nav {
        justify-content: space-between;
        align-items: center;
    }
    .nav h1 {
        margin-bottom: 0;
    }
    .nav-list {
        align-items: center;
    }
    .nav-list a:hover {
        color: var(--greenish-cyan-theme);
    }
    .nav-list--item:last-child {
        margin-top: 0;
        margin-left: 1em;
    }
}